/*------------------------------------*/
/*--------- _ICONS.scss -------------*/

// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400|Zilla+Slab:00,400,500,600");


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

/*---------------------------------*/

:root {
      --font-family-primary: "Zilla Slab", "Helvetica", "serif";

      --font-size-h1: 64pt;
      --font-size-h2: 32pt;
      --font-size-h3: 16pt;
      --font-size-h4: 8pt;

      --font-family-secondary: "Merriweather", "Helvetica", "sans-serif";

      --font-size-p1: 8pt;
      --font-size-p2: 6pt;
    }
