/*------------------------------------*/
/*--------- _SPACING.scss -------------*/

:root {
      --spacing-small: 8px;
      --spacing-medium: 16px;
      --spacing-large: 32px;
      --blur: 8px;
    }
